@charset 'utf-8';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  font-size: 62.5%; /* 10px */
  --main-color: #fedc83;
  --title-color: #000;
  --text-color: #333;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: var(--main-color);
  transition: 0.3s;
}

hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

body {
  font: 2rem 'Pretendard', sans-serif;
  overflow-x: hidden;
}

.inner {
  width: 132rem;
  margin: 0 auto;
}

#header {
  padding: 3rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  transition: background-color 0.3s, color 0.3s;
}

#header.scrolled {
  background: rgba(255, 255, 255, 0.9);
}

#header nav {
  display: flex;
  justify-content: space-between;
}

#header h1 {
  width: 14.7rem;
  height: 5.3rem;
  background: url(../img/foot-logo.svg) no-repeat 0 0 / cover;
}

#header.scrolled h1 {
  background: url(../img/header-logo.svg) no-repeat 0 0 / cover;
}
#header .gnb {
  display: flex;
  gap: 7.5rem;
  align-items: center;
}

#header .gnb li {
  font-weight: 600;
  font-size: 2.2rem;
  color: #fff;
  position: relative; /* 가상 요소를 위한 상대 위치 설정 */
  display: inline-block; /* 가상 요소를 텍스트와 함께 배치하기 위해 인라인 블록으로 설정 */
  padding-bottom: 5px; /* 선과 텍스트 사이의 간격을 설정 */
}

#header.scrolled .gnb li {
  color: black; /* 스크롤 시 폰트 색상 변경 */
}

#header .gnb li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* 밑줄의 두께 */
  background: var(--main-color); /* 밑줄의 색상 */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out; /* 애니메이션 전환 시간 및 효과 */
}

#header .gnb li:hover::after {
  transform: scaleX(1);
}

#header .menu-more {
  width: 3rem;
  height: 3rem;

  background: url(../img/btn-more-white.png) no-repeat 50% 50% / cover;
}

#header.scrolled .menu-more {
  background: url(../img/btn-more.png) no-repeat 50% 50% / cover;
}

.visual {
  position: relative;
  width: 100%;
  height: 100vh;

  overflow: hidden;
}

.video {
  width: 150%;
  height: 150%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -10;
}

.video iframe {
  width: 100%;
  height: 100%;
}

/* artist 부분 */

/* 아티스트 슬라이더 */

/* 새로운 슬라이더 섹션 (artist-slider) */

.newSwiper {
  width: 100%;
  height: 100%;
}
.artist-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff;
  border-radius: 5% 5% 0 0;
  /* overflow: hidden; */

  padding: 15rem 0;
}

.artist-slider .sec-title {
  color: #000;
}

.artist-slider .swiper-wrapper {
  display: flex;
  align-items: center;

  margin-top: 6rem;
}

.artist-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}

.artist-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* sec-title 부분 */

.sec-title {
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;

  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

/* 앨범소개부분
 */
.sound-source {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  overflow: hidden;
}

/* 
.sound-swiper {
} */

.sound-source {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: -1;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  filter: blur(10px);
  z-index: -2;
}

.sound-swiper {
  padding: 10rem;
  width: 50%;
}

.sound-source .sec-title {
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
}

.sound-source .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.sound-source .swiper-slide img {
  display: block;
  width: 100%;
}

.sound-source .sound-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.sound-source .sound-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #fff;
  opacity: 0.7;
  margin: 10px;
}

.sound-source .sound-pagination .swiper-pagination-bullet-active {
  background: url('../img/logo-white.svg') no-repeat 30% / contain;
  border: none;
  width: 5rem;
  height: 3rem;
}

/* 비디오 부분 */
.vedio-visual {
  /* height: 100vw; */
  background: #000;
  padding: 15rem 0 10rem;
}

.youtube-video {
  display: flex;
  gap: 2rem;
}

.big-video {
  width: 88rem;
  height: 55rem;
}
.small-video iframe,
.big-video iframe {
  width: 100%;
  height: 100%;
}

.small-video {
  width: 41.4rem;
  height: 26.4rem;
}

.small-video iframe + iframe {
  margin-top: 2rem;
}

.btn-more-white {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.more-white {
  width: 12rem;
  border: 1px solid #fff;

  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: 0.3s;
}

.more-white .more-con {
  color: #fff;
}
.more-white .more-ico {
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/ico-more-whit.png) no-repeat 0 0 / contain;
}

.more-white:hover {
  background: var(--main-color);
  border: 1px solid var(--main-color);
}

.square {
  padding: 25rem;
  background: rgba(red, green, blue, alpha);
}

/* 굿즈 부분 */

.square {
  background: rgba(0, 0, 0, 0.6);
}

.item-list {
  display: flex;
  justify-content: space-between;
}
.item-list dl {
  position: relative;
  width: 30.8rem;
  height: 59.8rem;
  /* background: yellowgreen; */
  /* border: 1px solid #000; */

  border-radius: 10px;
  margin-top: 10rem;
  padding: 6rem 10rem;
  background: url(../img/sound-ive-pic.jpg) no-repeat 50% 50% / cover;

  overflow: hidden;
}

.item-list dl:nth-child(1) {
  background-image: url(../img/square-stick.jpg);
}
.item-list dl:nth-child(2) {
  background-image: url(../img/sound-ive-pic.jpg);
}
.item-list dl:nth-child(3) {
  background-image: url(../img/square-card.jpg);
}
.item-list dl:nth-child(4) {
  background-image: url(../img/square-figurine.jpg);
}

.item-list dl::after {
  content: '';
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.item-list dl dt {
  font-weight: 600;
  font-size: 3rem;

  color: #fff;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-list dd {
  margin-top: 30rem;
  position: absolute;
  z-index: 1;
}

/* footer 부분 */

.footer {
  width: 100%;
  background: #444;
  padding: 4rem;
  color: #fff;
}

.foot-logo {
  width: 14.7rem;
  height: 5.3rem;
  background: url(../img/foot-logo.svg) no-repeat 0 0 / cover;
}

.foot-con {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10rem;
}

.foot-info {
  font-weight: 600;
  font-size: 2.2rem;

  display: flex;
  gap: 3.2rem;
  margin-top: 6rem;
}

.go-sns {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.foot-txt {
  font-size: 1.8rem;
  display: flex;
  gap: 3.2rem;
  margin-top: 8rem;
}

.foot-txt2 {
  margin-top: 2rem;
  font-size: 1.8rem;
}

/* top 버튼  */

.btn-gotop {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 5rem;
  height: 8rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  overflow: hidden;

  flex: column;

  padding: 0.5rem;
  z-index: 10;
}

.btn-gotop::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../img/logo.svg) no-repeat 50% / contain;
  transition: 0.4s;
}
.btn-gotop::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../img/logo.svg) no-repeat 50% / contain;
}

.btn-gotop:hover::before {
  margin-top: -70px;
}
